<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>in.com.cotroller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HabitServlet</servlet-name>
  	<display-name>HabitServlet</display-name>
  	<description></description>
  	<servlet-class>in.com.cotroller.HabitServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardServlet</servlet-name>
  	<display-name>DashboardServlet</display-name>
  	<description></description>
  	<servlet-class>in.com.cotroller.DashboardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>in.com.cotroller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HabitServlet</servlet-name>
  	<url-pattern>/HabitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardServlet</servlet-name>
  	<url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>
